@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    background-color: teal;
    color: rgba(0,0,0,.8);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
#date {
    float: right;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}

#mainDiv{
    width: calc(100% - 20px);
    margin: 0 10px;
    margin-top: 70px !important;
    box-shadow: .4px .4px .8px 1.7px #fff;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
}
#cases {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#welcomeDiv {
    margin: 20px 15px 20px;
    box-shadow: .3px .3px .7px 1px #ccc;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
}
h1 {
    font-size: 35px;
    padding: 0 0 5px 25px;
    color: #000;
}
h2 {
    font-size: 25px;
    padding: 10px 0 5px 20px;
    margin: 10px 0;
    color: #000;
}
.subsequentDivs {
    margin: 4px 25px;
    box-shadow: .3px .3px .7px 1px #ccc;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
    transition: .50s ease-in-out;
}
.subsequentDivs:hover {
    cursor: pointer;
    transition: 1.30s ease-in-out;
    transform: rotateY(360deg);
}
/* COLORING THE SUBSEQUENT DIVS */

.grey {
    background: #54544f;
}
.blue {
    background: #0367fc;
}
.yello {
    background: #fc9d03;
}
.green {
    background: #189952;
}
.red {
    background: #fff;
}
h3 {
    margin-top: 5px;
    font-size: 18px;
    color: #fff;
}
.fas {
    font-size: 25px;
    padding-top: 5px;
    padding-left: 5px;
    color: #fff;
}
.figures {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-right: 15px;
    color: #fff;
    text-shadow: #000;
    padding-bottom: 5px;
    float: right;
}
#tableMainDiv:hover,#highlight:hover,#tweetsMainDiv:hover,.videoTips:hover,#welcomeDiv:hover{
	cursor: pointer;
	box-shadow: 0 0.4rem 0.8rem 0 rgba(0,0,0,.6);
	transition: .40s ease-in-out;
}
/*------- DESTOP VERSION STYLING --------*/
@media (min-width: 1000px){
    #mainDiv{
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    #cases {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #welcomeDiv {
        width: 790px;
        margin: 20px 15px 10px;
        padding-bottom: 5px;
    }
    h1 {
        padding: 3px 0 0 15px;
    }
    .subsequentDivs {
        width: 255px;
        margin: 8px 10px;
        padding-top: 5px;
        padding-left: 10px;
    }
    .grey {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .figures {
        margin-top: 5px;
    }
    #date {
        line-height: unset;
    }

}

/* TABLE SECTION STYLING */
#table_to_tweets{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}
#tableMainDiv {
    margin: 20px 10px 0;
    box-shadow: .3px .3px .7px 1px #ccc;
    border-radius: 5px;
}
#tableDiv {
    margin: 0 10px;
    box-shadow: .3px .3px .7px 1px #ccc;
    overflow: auto;
}
table{
    border-collapse: collapse;
    width: 450px;
}
tr:nth-child(even) {
    background-color: #fff;
}
tr:nth-child(odd) {
    background-color: #f6f7fb;
}
th {
    width: 60px;
    background: #138750;
    color: #fff;
    text-align: left;
    padding-left: 5px;
    font-size: 15px;
    border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd;
}
.smallWidth {
    width: 40px !important;
}
td {
    margin-top: 10px;
    text-align: left;
    padding: 5px 0;
    padding-left: 3px;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    font-size: 15px;
}

/*--------- Highlights Section Styling -----------*/
#highlight_to_tweets {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#highlightMainDiv{
    width: 100%;
    margin: 10px auto;
}
#highlight{
    margin: 10px;
    box-shadow: .3px .3px .7px 1px #ccc;
    border-radius: 5px;
    padding: 10px 0;
}
#highlight ul li{
    font-size: 15px;
    margin: 10px 0 0 25px;
    padding-right: 8px;
    line-height: 1.5;
    text-align: justify;
}

/* TWEETS SECTION STYLING */
#tweetsMainDiv{
    box-shadow: .3px .3px .7px 1px #ccc;
    border-radius: 5px;
    padding: 10px 0;
    margin: 0 10px;
}
.tweet{
    display: flex;
    justify-content: center;
    border-radius: 5px;

}
/* STYLING DESKTOP VERSION (TABLE TO TWEETS) */
@media (min-width: 1000px){
    #table_to_tweets{
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0;
    }
    #tableMainDiv {
        margin: 10px 10px;
        margin-right: 0;
        padding-bottom: 20px;
    }
    table{
        width: 600px; 
    }
    th {
        padding: 10px 0;
    }
    th {
        text-align: left;
        padding-left: 5px;
    }
    td {
        text-align: left;
        padding-left: 6px;
    }
    #deathColumn{
        border-right: none;
    }
    #highlightMainDiv{
        width: 470px;
        margin: 0;
    }
    #highlight_to_tweets {
        width: 470px;
    }
    #highlight{
        margin: 10px;
        padding-right: 5px;
    }
    #tweetsMainDiv{
        width: 450px;
        padding: 10px 0;
        margin: 0 10px;
    }
}

/* TABLET VERSION */
@media (max-width: 950px) and (min-width: 600px){

    table{
        width: 100%;

    }
    th {
        padding: 20px;
    }
    
}

/* VIDEO TIPS SECTION STYLING */

#videoTipsMainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    margin: 10px 0;
    padding: 10px 10px;
    border-radius: 5px;
    overflow: hidden;
}
.videoTips{
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: .3px .3px .7px 1.8px #ccc;
    border-radius: 5px;
    margin: 10px 10px 0;
    padding: 8px 0;
}
iframe {
    width: 320px;
}

/* STYLING VIDEO TIPS SECTION, DESKTOP VERSION */
@media (min-width: 1000px){
    #videoTipsMainDiv{
        width: calc(100% - 20px);
        flex-direction: row;
        margin: 10px 10px 20px;
        border-radius: 10px;
        place-items: center;
        padding: 0 10px;      
    }
    .videoTips {
        margin: 10px 5px 10px;
        padding: 8px 5px;
    }
    iframe {
        width: 340px;
    }
}
/* Footer */
footer{
    overflow: hidden;
    width: calc(100% - 20px);
    margin: 20px 10px;
}
#bio {
    margin: 20px 10px 10px;
    border: #fff dotted;
    border-radius: 10px;
}
#about {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    padding: 10px;
}
 #followBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
#copyright{
    font-size: 16px;
    text-align: center;
    color: #ddd;
}
/* FOOTER STYLING DESKTOP VERSION */
@media (min-width: 1000px){
    footer {
        max-width: 500px;
        margin: 40px auto 20px;
    }
    #about {
        padding-right: 0;
    }
}