@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    background-color: teal;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}
#date {
    float: right;
    margin-right: 10px;
    font-size: 18px;
}
header{
    height: 80px;
}
#mainDiv{
    width: calc(100% - 20px);
    margin: 0 10px;
    box-shadow: .4px .4px .8px 1.7px #fff;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
}
#cases {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#welcomeDiv {
    margin: 20px 15px 20px;
    box-shadow: .3px .3px .7px 1px #ccc;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
}
h1 {
    font-size: 40px;
    padding: 0 0 5px 25px;
}
h2 {
    font-size: 25px;
    padding: 10px 0 5px 20px;
    margin: 20px 0;
}
.subsequentDivs {
    margin: 8px 25px;
    box-shadow: .3px .3px .7px 1px #ccc;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    transition: .50s ease-in-out;
}
.subsequentDivs:hover {
    cursor: pointer;
    transition: 1.30s ease-in-out;
    transform: rotate(360deg);
}
/* COLORING THE SUBSEQUENT DIVS */

.grey {
    background: #54544f;
}
.blue {
    background: #0367fc;
}
.yello {
    background: #fc9d03;
}
.green {
    background: #189952;
}
.red {
    background: #fff;
}
h3 {
    margin-top: 5px;
    font-size: 19px;
    color: #fff;
}
.figures {
    margin-top: 10px;
    font-size: 32px;
    font-weight: bold;
    margin-right: 15px;
    color: #fff;
    text-shadow: #000;
    padding-bottom: 5px;
    float: right;
}
#tableMainDiv:hover,#highlight:hover,#tweetsMainDiv:hover,.videoTips:hover,#welcomeDiv:hover{
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 rgba(0,0,0,.8);
	transition: transform 150ms;
}
/* DESTOP VERSION STYLING */
@media (min-width: 1000px){
    #mainDiv{
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    #cases {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #welcomeDiv {
        width: 790px;
        margin: 20px 15px 10px;
        padding-bottom: 5px;
    }
    h1 {
        font-size: 38px;
        padding: 5px 0 0 15px;
    }
    .subsequentDivs {
        width: 255px;
        margin: 8px 10px;
        padding-top: 5px;
        padding-left: 10px;
    }
    .grey {
        margin-top: 20px;
    }
    .figures {
        margin-top: 5px;
    }
    #date {
        line-height: unset;
    }

}

/* TABLE SECTION STYLING */
#table_to_tweets{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#tableMainDiv {
    margin: 20px 10px;
    box-shadow: .3px .3px .7px 1px #ccc;
    border-radius: 10px;
}
#tableDiv {
    margin: 0 10px;
    box-shadow: .3px .3px .7px 1px #ccc;
    border-radius: 10px;
    overflow: auto;
}
table{
    border-collapse: collapse;
    width: 450px;
    color: #fff;  
}
tr:nth-child(even) {
    background-color: #fff;
}
tr:nth-child(odd) {
    background-color: #ddd;
}
table, tr:last-of-type {
    border-bottom: 2px solid teal;
}
th {
    background: teal;
    text-align: center;
    width: 60px;
    border-bottom: 2px solid rgb(173, 168, 168);
    border-right: 2px solid rgb(173, 168, 168);
}
.smallWidth {
    width: 40px !important;
}
td {
    margin-top: 10px;
    text-align: center;
    padding: 5px 0;
    border-right: 2px solid rgb(173, 168, 168);;
    border-bottom: 2px solid rgb(173, 168, 168);;
    font-size: 17px;
    color: #000;
}

/* Highlights Section Styling */
#highlight_to_tweets {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#highlightMainDiv{
    width: 100%;
    margin: 20px auto;
}
#highlight{
    margin: 20px;
    box-shadow: .3px .3px .7px 1px #ccc;
    border-radius: 10px;
    padding: 10px 0;
}
#highlight ul li{
    line-height: 1.5;
    font-size: 17px;
    margin: 10px 0 0 25px;

}

/* TWEETS SECTION STYLING */
#tweetsMainDiv{
    box-shadow: .3px .3px .7px 1px #ccc;
    border-radius: 10px;
    padding: 10px 0;
    margin: 20px 15px;
}
#tweets {
    border-radius: 10px;
    padding: 0 0 10px;
    height: 500px;
    overflow: auto;
}
.tweet{
    border-radius: 10px;
    margin-bottom: 20px;

}

/* STYLING DESKTOP VERSION (TABLE TO TWEETS) */
@media (min-width: 1000px){
    #table_to_tweets{
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    #tableMainDiv {
        margin: 20px 10px;
        margin-right: 0;
        padding-bottom: 20px;
    }
    table{
        width: 600px; 
    }
    th {
        padding: 10px 0;
    }
    th, td {
        text-align: left;
        padding-left: 7px;
    }
    #deathColumn{
        border-right: none;
    }
    #highlightMainDiv{
        width: 470px;
        margin: 0;
    }
    #tweetsMainDiv{
        width: 430px;
        padding: 10px 0;
        margin: 0 20px;
    }
    #highlight_to_tweets {
        width: 470px;
    }
}

/* TABLET VERSION */
@media (max-width: 950px) and (min-width: 600px){

    table{
        width: 100%;

    }
    th {
        padding: 20px;
    }
    
}

/* VIDEO TIPS SECTION STYLING */

#videoTipsMainDiv{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 10px 0;
    border-radius: 10px;
    overflow: hidden;
}
#videoTipsDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.videoTips{
    display: flex;
    justify-content: center;
    box-shadow: .3px .3px .7px 1.8px #ccc;
    border-radius: 10px;
    margin: 10px 10px 20px;
    padding: 8px 0;
}
iframe {
    width: 320px;
    border-radius: 10px;
}

/* STYLING VIDEO TIPS SECTION, DESKTOP VERSION */
@media (min-width: 1000px){
    #videoTipsMainDiv{
        width: calc(100% - 20px);
        margin: 50px 10px 20px;
        box-shadow: .8px .6px .7px 1.8px #ccc;
        border-radius: 10px;
        place-items: center;
        padding-bottom: 0;
        
    }
    #videoTipsDiv{
        flex-direction: row;
        justify-content: center;
    }
    .videoTips {
        margin: 10px 5px 20px;
        padding: 8px 5px;
    }
    iframe {
        width: 340px;
    }
}
/* Footer */
footer{
    overflow: hidden;
    width: calc(100% - 20px);
    margin: 20px 10px;
}
#bio {
    margin: 20px 10px;
    border: #fff dotted;
    border-radius: 10px;
}
#about {
    font-size: 17px;
    line-height: 1.5;
    color: #fff;
    padding: 10px;
}
.anchorTag{
    text-decoration: none;
    color: #fff;
    border-bottom: #fff dotted;

}
#copyright{
    font-size: 17px;
    text-align: center;
    color: #ddd;
}
/* FOOTER STYLING DESKTOP VERSION */
@media (min-width: 1000px){
    footer {
        width: 500px;
        margin: 40px auto 20px;
    }
}